extends ../layouts/app.pug

block content
  .container.mt-5
    .row
      .col-sm-8.mx-auto
        h3.text-center.mb-4 Edit '#{post.title}'
        form(action=url('posts#update', { id: post.id }) method='post')
          input(name='_method' type='hidden' value= 'PATCH')
          include _form.pug
